<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ssy01</display-name>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsCatalogServlet</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newscatalog.ListNewsCatalog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewsCatalog</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newscatalog.AddNewsCatalog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateNewsCatalog</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newscatalog.UpdateNewsCatalog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePNewCatalog</servlet-name>
    <servlet-class>com.shengsiyuan.imis.servlet.newscatalog.UpdatePNewCatalog</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/Test/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsCatalogServlet</servlet-name>
    <url-pattern>/NewsCatalog/ListNewsCatalog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewsCatalog</servlet-name>
    <url-pattern>/NewsCatalog/AddNewsCatalog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateNewsCatalog</servlet-name>
    <url-pattern>/NewsCatalog/UpdateNewsCatalog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePNewCatalog</servlet-name>
    <url-pattern>/NewsCatalog/UpdatePNewCatalog</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>